[program:crawl_job]
command=python3 -u /home/quannh/projects_de/project_2/src/main.py
directory=/home/quannh/projects_de/project_2
autostart=true
autorestart=true
startretries=3
stderr_logfile=/home/quannh/projects_de/project_2/logs/crawl_job.err.log
stdout_logfile=/home/quannh/projects_de/project_2/logs/crawl_job.out.log
user=quannh
environment=PYTHONUNBUFFERED="1"
